apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - namespace.yaml
  - helm.yaml
  - secret.yaml
  - httproute.yaml
  - securitypolicy.yaml
commonLabels:
  app.kubernetes.io/component: monitoring
configMapGenerator:
  - name: flux-kube-state-metrics-config
    files:
      - kube-state-metrics-config.yaml
    options:
      disableNameSuffixHash: true
      labels:
        app.kubernetes.io/part-of: flux
