export TFENV_TERRAFORM_VERSION=1.13.4

export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..aaaaaaaauom3dg75l5s6jpbbidn3zzueqjzuckqqxjrma3l4djarvh73dqhq"
export TF_VAR_user_ocid="ocid1.user.oc1..aaaaaaaa6idl42jeliy4rxs666q7z2kpbmprkgye677q2nbxoy72gvnam4hq"
export TF_VAR_fingerprint="a8:de:29:10:74:e4:8a:14:1f:6f:84:43:95:22:5c:c7"
export TF_VAR_region="eu-madrid-1"

export TF_VAR_private_key="$(cat ~/.oci/oci_api_key.pem)"

export TF_VAR_ssh_public_key="$(cat ~/.ssh/id_rsa.pub)"
export TF_VAR_ssh_private_key="$(cat ~/.ssh/id_rsa)"

# Compartment name
export TF_VAR_compartment_name="jdani-oke-home"

# Compartment ID
export TF_VAR_compartment_id="ocid1.compartment.oc1..aaaaaaaaaucapm2yj7k6etrrmmekpzflem4kpsqm27rvbkisiuevx72cupaa"




export TF_VAR_tenancy_id=$TF_VAR_tenancy_ocid

export TF_VAR_k8s_cluster_id="ocid1.cluster.oc1.eu-madrid-1.aaaaaaaagutxsbuenvhhkck3zcyv7ovfktkrrjihaauhfkwpmcolo5ddxzca"
export TF_VAR_kubernetes_control_plane_version="v1.34.1"
export TF_VAR_kubernetes_kubelets_version="v1.34.1"
export TF_VAR_node_pool_id="ocid1.nodepool.oc1.eu-madrid-1.aaaaaaaaooib2vxjmpr4iu3r5hyl7slbtu572sulf3ph7etlgndr7k6eptwa"
export TF_VAR_public_subnet_id="ocid1.subnet.oc1.eu-madrid-1.aaaaaaaajll7rutouxbopjjksxdgwfgm5fnd2yg5h3qscbxisx56ju7oqaha"



export TF_VAR_gh_token="$(cat ~/.oci.jdani.eu.github)"
export TF_VAR_github_app_id="2248036"
export TF_VAR_github_app_installation_id="93444740"
export TF_VAR_github_app_pem="$(cat ~/.oci.jdani.eu.github_app.pem)"

export TF_VAR_vault_id="ocid1.vault.oc1.eu-madrid-1.ifuqwpt2aagto.abwwcljrfdhmmldujzpko7zvoz4ewxlmea4ju4gjudwzedi4ckhs55qtpfvq"
export TF_VAR_gh_org="jdanieu"


export GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519_jdjp83 -o IdentitiesOnly=yes'
export GIT_AUTHOR_NAME="JDani Jimenez"
export GIT_AUTHOR_EMAIL="jdjp83@gmail.com"
export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
export GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
