apiVersion: v1
kind: Service
metadata:
  name: evolution-api
  namespace: evolution-api
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: evolution-api
    component: api
